<% if logged_in? %>

  <div id="legend">
    <legend class="">UPFG社員の皆様</legend>
  </div>

  <div class="row">

    <% @employees.each do |employee| %>
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default panel-card">
          <div class="panel-heading">
            <%= image_tag get_recent_photo_path_for_bio(employee) %>
            <form action="<%= employees_url(id: employee.id) %>">
              <button class="btn btn-info btn-sm" role="button"><%= employee.photos.size %> photos</button>
            </form>
          </div>
          <div class="panel-figure">
            <%= image_tag gsub_http_to_https(employee.image_url), class: "img-responsive img-circle" %>
          </div>
          <div class="panel-body text-center">
            <h4 class="panel-header">
              <%= link_to("https://twitter.com/" + employee.nickname) do %>
                <%= employee.nickname %>
              <% end %>
            </h4>
            <h4>
              <%= employee.name %>
            </h4>
          </div>
          <div class="panel-thumbnails">

            <div class="row">
              <% if current_employee.id != employee.id %>
                <%= link_to(activities_poke_url(employee_id: employee.id), class: "btn btn-xs btn-default", method: :post) do %>
                  <span class="glyphicon glyphicon-comment"></span> Poke
                <% end %>

                <%= link_to(employee_profile_url(id: employee.id), class: "btn btn-xs btn-default") do %>
                  <span class="glyphicon glyphicon-user"></span> View Profile
                <% end %>
              <% else %>
                <%= link_to(employee_profile_url(id: employee.id), class: "btn btn-xs btn-default") do %>
                  <span class="glyphicon glyphicon-user"></span> View & Edit Profile
                <% end %>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>

<% else %>
  <h2>ログインしてください</h2>
<% end %>

