<% if logged_in? %>

  <div id="legend">
    <legend class="">UPFG社員の皆様</legend>
  </div>
  
  <div class="row" style="margin-top: 10px;">
    
    <div class="col-md-12 shadow">

      <% @employees.each do |employee| %>
	<% if not current_employee.guest? %>
          <% next if employee.id == current_employee.id %>
          <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
              <div class="well well-sm">
		<div class="media">
                  <a class="thumbnail pull-left" href="#">
                    <%= image_tag gsub_http_to_https(employee.image_url), class: "media-object" %>
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading"><%= employee.nickname %> <%= employee.name %></h4>  
                    <p><%= employee.description %></p>
                    <p>
                      <%= link_to(employees_url(id: employee.id)) do %>
			<span class="label label-info"><%= employee.photos.size %> photos</span>
                      <% end %>
                    </p>
                    <p>
                      <% if current_employee.id != employee.id %>
			<%= link_to(activities_poke_url(employee_id: employee.id), class: "btn btn-xs btn-default", method: :post) do %>
                          <span class="glyphicon glyphicon-comment"></span> Poke
			<% end %>
			
			<%= link_to(employee_profile_url(id: employee.id), class: "btn btn-xs btn-default") do %>
                          <span class="glyphicon glyphicon-user"></span> View Profile
			<% end %>
                      <% else %>
			<%= link_to(employee_profile_url(id: employee.id), class: "btn btn-xs btn-default") do %>
                          <span class="glyphicon glyphicon-user"></span> View & Edit Profile
			<% end %>                    
                      <% end %>
                    </p>
                    <% if employee.id == current_employee.id %>
                      <div style="font-size: 20px">
			<span class="label label-warning">THIS IS YOU</span>
                      </div>
                    <% end %>
                  </div>
		</div>
              </div>
            </div>
          </div>
	<% else %>
          <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
              <div class="well well-sm">
		<div class="media">
                  <a class="thumbnail pull-left" href="#">
                    <%= image_tag '/images/anonymouse.png', height: '50px', width: '50px', class: "media-object" %>
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">We are anonymous</h4>  
                    <p>We are anonymous</p>
                  </div>
		</div>
              </div>
            </div>
          </div>	  
	<% end %>
      <% end %>
    </div>
  </div>
  
<% else %>
  <h2>ログインしてください</h2>
<% end %>

