
<% content_for(:postform) do %>
  <% if current_employee.id == @employee.id %>
    <li>
      <a href="#postformforgalleryModal" role="button" data-toggle="modal" data-target="#postformforgalleryModal"><i class="glyphicon glyphicon-plus"></i> Post</a>
    </li>
  <% end %>
<% end %>

<!-- Post form -->
<div id="postformforgalleryModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	画像をMy Galleryに投稿
      </div>
      <div class="modal-body">
        <form class="form center-block">
	  <div class="form-group">
	    <input class="edittagbox form-control" name="tags" type="text" value="" placeholder="タグを入力してください"/>
	  </div>
        </form>
      </div>
      <div class="modal-body">
	<%= form_tag(ddphoto_upload_path(format: :json),
                     method: :post, 
                     class: "dropzone dz-clickable", 
                       id: "dduploadzone",
                       multipart: true) do %>
	  <div class="dz-message">
            <%= image_tag("/images/icn-upload.png") %>
            <h3>ドラッグアンドドロップでアップロードできます</h3>
            <h4>ここにファイル(zip, jpeg)をドラッグアンドドロップしてください</h4>
            <br>
            <span class="note">いいよ！来いよ！</span>
	  </div>
	<% end %>	
      </div>

      <div class="modal-footer">
        <div>
	  <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">投稿する</button>
	  <ul class="pull-left list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
	</div>
      </div>
    </div>
  </div>
</div>
<!-- End of Post form -->

<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header"><%= @employee.nickname %>'s Image Gallery <span class="badge"><%= @photo_count %></span></h2>
  </div>
</div>

<div class="row">
  <%= render 'layouts/photosearchbar' %>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="form-inline form-group">
      <%= submit_tag("ダウンロード", :class => "btn btn-success", :id => "downloadall") %>
      
      <div class="checkbox" style="margin-left:10px; margin-right:10px;">
        <label><input type="checkbox" id="photo_check_group" class="photocheckAll"> 全てにチェックを入れる</label>
      </div>
      
      <div class="pull-right">
        <% if current_employee.id == @employee.id %>
          <%= submit_tag("一括削除", :class => "btn btn-danger", :id => "deleteall") %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <hr>
  </div>
</div>

<div class="row">
  <%= render 'layouts/photos', locals: {contents: @photos} %>
</div>

<div class="row">
  <div class="text-center">   
    <%= render 'layouts/pagination', locals: {pages_count: @pages_count, current_page: @current_page} %>
  </div>
</div>

