
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header"><%= current_employee.nickname %>'s Image Gallery <span class="badge"><%= current_employee.photos.size %></span></h2>
  </div>
</div>

<div class="row">
  <%= render 'layouts/photosearchbar' %>
</div>

<div id="list_de_trucs" class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>写真</th>
        <th>タグ</th>
        <th>タイトル</th>
        <th>説明</th>
      </tr>
    </thead>
    <tbody>
      <% @photos.each do |p| %>
          <tr>
            <td>
	      <%= form_tag(photo_delete_url(id: p.id), :method => :delete) do %>
                <%= submit_tag("削除", :data => {:disable_with => "Deleting..."}, 
			       :class => "btn btn-danger") %>
	      <% end %>
            </td>
            <td>
              <%= link_to(photo_view_url(id: p.id)) do %>
                <%= image_tag("/images/blank.gif", class: "img-lazy-responsive media-object", width: 64, height: 64, data: { original: photo_thumbnail_url(id: p.id, type: 'small') } ) %>
              <% end %>
            </td>
            <td>
              <input class="edittagbox form-control" name="tags" type="text" value="<%= p.tag2photos.each_tags(p.id).map{|t| t.name }.join(",") %>" data-photoid="<%=p.id%>"/>
            </td>
            <td>
              <input class="photocaption form-control" name="photocaption" type="text" value="<%= p.caption %>" onKeyPress="submitStop(event)" data-photoid="<%=p.id%>">
            </td>
            <td>
              <textarea class="photodescription form-control" name="photodescription" rows="3" data-photoid="<%=p.id%>"><%= p.description %></textarea>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="text-center">   
    <%= render 'layouts/pagination', locals: {pages_count: @pages_count, current_page: @current_page} %>
  </div>
</div>

<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>

