<% if logged_in? %>

<div class="tags-cloud glassy-bg">
  <h4>最近のトレンド</h4>
  <% tag_cloud(Tag.counts, %w{css1 css2 css3 css4}) do |tag, css_class| %>
    <%= link_to tag.name, tagphoto_url(tag: tag.name), class: css_class %>
  <% end %>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#tab1" data-toggle="tab">メンバー</a></li>
  <li><a href="#tab2" data-toggle="tab">ZIPでアップロード</a></li>
  <li><a href="#tab3" data-toggle="tab">写真検索</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="tab1">

    <!-- タブ1 -->
    <div class="list-group">
      <% @employees.each do |employee| %>
        <%= link_to("employees/#{employee.id}", class: 'list-group-item') do %>
          <h4 class="lits-group-item-heading">          
            <%= employee.nickname %>
          </h4>
          <p class="list-group-item-text">
          <%= image_tag employee.image_url %>
          </p>
        <% end %>
      <% end %>
    </div>

  </div>
  
  <div class="tab-pane fade" id="tab2">
    
    <!-- タブ2 -->
    <div class="panel panel-default">
      
      <!--
      <div class="panel-heading">
        アップロード
      </div>
      -->

      <div class="panel-body">
        <%= form_tag("photo/", {:multipart => true}) do |f| %>
        <form class="form-horizontal" role="form">
          
          <div class="form-group">
            <p class="control-label"><b>タグ</b></p>
            <div id="bloodhound">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">タグを追加</button>
                </span>
                <input id="bloodhoundtextbox" type="text" class="form-control">
              </div><!-- /input-group -->
            </div>
          </div>

          <div class="form-group">
            <div id="phototags">
            </div>
          </div>

          <div class="form-group">
            <p class="control-label"><b>最近使われたタグ</b></p>
            <div id="recentusephototags">
              
            </div>
          </div>

          <div class="form-group">
            <p class="control-label"><b>ファイル</b></p>
            <input name="target_file" type="file" />
            <p class="help-block"><B>JPGをZIPで固めてアップロードしてください。</B>複数JPGをZIPに固めても問題ありません。対応しているファイルはZIPで固めたJPGファイルだけです。ZIPアーカイブ内にはディレクトリは作らないでください。ディレクトリ下にあるJPGファイルはすべて無視されます。</p>
            <%= submit_tag("送信", :data => {:disable_with => "Sending..."}, :class => "btn btn-default") %>
          </div>
      </div>
      <% end %>
    </div>    
  </div>

  <div class="tab-pane fade" id="tab3">
    
  </div>

</div>
<% else %>
<h2>ログインしてください</h2>
<% end %>
