<div class="container">
  
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header"><%= @photo.caption == nil ? "写真#{@photoid}" : @photo.caption %></h2>
      <blockquote>
        <%= @photo.description == nil ? "名称未設定" : gsub_enter(@photo.description) %>
        <footer><%= @photo.employee.nickname %></footer>
      </blockquote>
    </div>
  </div>

  <div class="row top15" style="margin-bottom: 10px;">
    <div class="col-lg-12">
      <%= image_tag(photo_show_url(id: @photoid), class: "img-responsive", id: "largeimageview") %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="input-group">
        <span class="input-group-btn">

        </span>
      </div>
    </div>
  </div>

  <div class="row top10">
    <div class="col-md-12">

      <div class="panel panel-info">
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>アップロード者</dt>
            <dd><%= link_to(@holdername, employees_url(id: @photo.employee.id)) %></dd>
            <dt>写真撮影日時</dt>
            <dd><%= @photo.shotdate ? @photo.shotdate.strftime("%Y-%m-%d %H:%M:%S") : "" %></dd>
            <dt>モデル</dt>
	    <dd><%= @photo.model %></dd>
	    <dt>露光時間</dt>
	    <dd><%= @photo.exposure_time %></dd>	
	    <dt>f値</dt>
	    <dd><%= @photo.f_number %></dd>	
	    <dt>焦点距離</dt>
	    <dd><%= @photo.focal_length %></dd>
	    <dt>35mm換算での焦点距離</dt>
	    <dd><%= @photo.focal_length_in_35mm_film %></dd>
	    <dt>ISO感度</dt>
	    <dd><%= @photo.iso_speed_ratings %></dd>
	    <dt>写真編集日時</dt>
	    <dd><%= @photo.update_date_time ? @photo.update_date_time.strftime("%Y-%m-%d %H:%M:%S") : "" %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <% if current_employee.id == @holder.id %>
    <div class="row">
      <div class="col-md-12">

        <div class="panel panel-info">
          <div class="panel-heading">キャプションやタグの編集</div>
          <div class="panel-body">

            <%= form_tag(photo_edit_path(id: @photoid), method: "POST", multipart: true) do |f| %>
              <p></p>
              <div class="form-group">
                <label for="photocaption" class="control-label">タイトル</label>
                <input id="photocaption" name="photocaption" type="text" class="form-control" value="<%= @photo.caption %>" onKeyPress="submitStop(event)">
              </div>
              <div class="form-group">
                <label for="photodescription" class="control-label">紹介文</label>
                <textarea id="photodescription" name="photodescription" class="form-control" rows="3"><%= @photo.description %></textarea>
              </div>
              <div class="form-group">
                <label for="edittagbox" class="control-label">タグ</label>
                </br>
                <input id="edittagbox" name="tags" type="text" value="<%= @tags.map{|t| t.tag.name }.join(",") %>" data-provide="typeahead"/>
              </div>
              <%= submit_tag("変更", :data => {:disable_with => "Sending..."}, :class => "btn btn-primary") %>
            <% end %>
          </div>
        </div>
            
        <div class="panel panel-danger">
          <div class="panel-heading">この写真を削除</div>
          <div class="panel-body">
            
            <div class="form-group">
              <p></p>
              <% if current_employee.id == @holder.id %>
	        <%= form_tag(photo_delete_url(id: @photoid), :method => :delete) do %>
                  <%= submit_tag("削除", :data => {:disable_with => "Deleting..."}, 
			         :class => "btn btn-danger") %>
	        <% end %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  <% end %>
  
</div>
