<div class="container">
  
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">写真<%= @photoid %></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <% if current_employee.id == @holder.id %>
	<%= form_tag(photo_delete_url(id: @photoid), :method => :delete) do %>
          <%= submit_tag("削除", :data => {:disable_with => "Deleting..."}, 
			 :class => "btn btn-danger") %>
	<% end %>
      <% end %>
    </div>
  </div>

  <div class="row top10">
    <div class="col-md-12">
      <dl class="dl-horizontal">
        <dt>アップロード者</dt>
        <dd><%= link_to(@holdername, employees_url(id: @photo.employee.id)) %></dd>
        <dt>写真撮影日時</dt>
        <dd><%= @photo.shotdate ? @photo.shotdate.strftime("%Y-%m-%d %H:%M:%S") : "" %></dd>
        <dt>モデル</dt>
	<dd><%= @photo.model %></dd>
	<dt>露光時間</dt>
	<dd><%= @photo.exposure_time %></dd>	
	<dt>f値</dt>
	<dd><%= @photo.f_number %></dd>	
	<dt>焦点距離</dt>
	<dd><%= @photo.focal_length %></dd>
	<dt>35mm換算での焦点距離</dt>
	<dd><%= @photo.focal_length_in_35mm_film %></dd>
	<dt>ISO感度</dt>
	<dd><%= @photo.iso_speed_ratings %></dd>
	<dt>写真編集日時</dt>
	<dd><%= @photo.update_date_time ? @photo.update_date_time.strftime("%Y-%m-%d %H:%M:%S") : "" %></dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="input-group">
        <span class="input-group-btn">
          <button id="submittag" class="btn btn-default" type="button">タグを編集</button>
        </span>
        <input id="edittagbox" type="text" value="<%= @tags.map{|t| t.tag.name }.join(",") %>" data-provide="typeahead"/>
      </div>
    </div>
  </div>

  <div class="row top15">
    <div class="col-lg-12">
      <%= image_tag(photo_show_url(id: @photoid), class: "img-responsive", id: "largeimageview") %>
    </div>
  </div>
  
</div>
