<div id="legend">
  <legend class="">今ホットなアルバム一覧</legend>
</div>

<div class="row masonry-container">
  <% @tops.each do |board| %>
    
    <div class="masonry-item col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= link_to(boards_show_url(board[:val].id), 
		  style: "text-decoration: none; color: inherit;") do %>
	<div class="offer offer-radius offer-<%= board[:cls] %>">
	  <div class="shape">
	    <div class="shape-text">
	      top
	    </div>
	  </div>
	  <div class="offer-content">
	    <h3 class="lead">
	      <%= board[:title] %> (<%= board[:val].photo_size %>)
	    </h3>
	    <p>
	      <%= board[:val].description %>
	    </p>
	    
	    <div class="mic-info" style="font-size: 11px;">By: <%= link_to(board[:val].employee.name, employees_url(board[:val].employee.id), class: "caption-link") %>
	      <print> on <%= board[:val].created_at.strftime("%Y-%m-%d") %></print>
	    </div>
	  </div>

	</div>
      <% end %>      
    </div>
    
  <% end %>
</div>

<div id="legend" style="margin-top: 30px;">
  <legend class="">アルバム一覧</legend>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="tree-menu demo" id="tree-menu">
			<% tree = {} %>
			<% @boards.each do |board| %>
				<% insert_tree(tree, board.caption.split("/"), board) %>
			<% end %>
			<% html_content = build_html_tree(tree) %>
			<%= html_content %>
    </div>
  </div>
</div>

