<div id="legend">
  <legend class="">コミケ用ツール</legend>
</div>

<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#comiket_csv_upload" aria-controls="comiket_csv_upload" role="tab" data-toggle="tab">CSVのファイルアップロード</a>
    </li>
    <li role="presentation">
      <a href="#comiket_list" aria-controls="comiket_list" role="tab" data-toggle="tab">アップロードしたリスト (<%= @list.size %>
        )</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="comiket_csv_upload">
      <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
        <h3 style="color: #FF0000">C92対応版 (2017/7/13更新)</h3>
        <p>Webカタログから出力されたcsvファイルを指定してください</p>

        <%= form_tag(comiketcsv_post_path(id: current_employee.id), method: "POST", multipart: true) do |f| %>
          <div class="form-group" style="width:400px;">
            <div class="input-group">
              <input type="file" id="file_input" name="target_comiket_csvfile" style="display: none;">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="$('#file_input').click();"><i class="glyphicon glyphicon-folder-open"></i></button>
	      </span>
              <div class="input-group">
                <input id="dummy_file" type="text" class="form-control" placeholder="select file..." disabled>
              </div>
            </div>
          </div>

          <label for="forstate" class="control-label">アップロード対象の色は</label>
          <select class="selectpicker input-small" data-width="120px" name="targetcolor">
            <option value="0">0 (色なし)</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>
          のみを
          <button type="submit" name="csv_up" class="btn btn-primary">アップロード</button>
          する
        <% end %>

        <script type="text/javascript">
            $(function () {
                $('#file_input').change(function () {
                    $('#dummy_file').val($(this).val());
                });
            })
        </script>

        <h3>注意点：読んでください</h3>
        <ul style="list-style-type: lower-latin">
          <li>カタロム、WebカタロムからCSVをダウンロードする</li>
          <li>CSVをうpるんですにアップロードする</li>
          <li>アップロードしたリストをコンバートしたダウンロードする</li>
          <li>コンバートしたCSVに対して、修正を加える</li>
          <ul style="list-style-type: decimal">
            <li>複数オーダするときは発注数を増やす</li>
            <li>単価や新刊が分かっている場合は情報を埋める</li>
            <li>落選など不要なサークルなどは除外する</li>
            <li>追加サークルがあるときは、フォーマットを遵守し追加する</li>
          </ul>
          <h4>！！！半角全角大文字小文字に注意すること！！！</h4>
          <li>発注者生成したデータを指定されたGoogleドキュメントへ貼り付ける</li>
        </ul>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="comiket_list">
      <div style="padding: 10px;">
        <%= form_tag(comiketcsv_download_path, method: "GET", multipart: false) do |f| %>
          <%= submit_tag("変換csvをダウンロード", :class => "btn btn-primary", :id => "downloadcomiketcsv") %>
        <% end %>
      </div>
      <%= render 'layouts/comiketlist', locals: { contents: @list } %>
    </div>

  </div>
</div>
