<!DOCTYPE html>
<% if logged_in? %>
  <html>
    <head>
      <title>UprunDesu</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <%= stylesheet_link_tag    "application", media: "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
    </head>
    <body>
      
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">UprunDesu</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">

            <ul class="nav nabvar-nav navbar-right">
              <% if logged_in? %>
                <li class="dropdown">
                  <%= link_to('#', class: "dropdown-toggle", :"data-toggle" => 'dropdown', :"aria-haspopup" => "true", :"role" => "button", :"aria-expanded" => "false") do %> 
                    <%= current_employee.nickname %>
                    <%= image_tag gsub_http_to_https(current_employee.image_url), width: 28, height: 28 %> 
                    <span class="caret"></span>
                  <% end %>
                  <ul class="dropdown-menu" role="menu">

                    <li>
                      <%= link_to(employee_profile_url(id: current_employee.id)) do %>
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
                      <% end %>
                    </li>

                    <li class="divider"></li>

                    <li>
                      <%= link_to(logout_path) do %>
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout
                      <% end %>
                    </li>

                  </ul>
                </li>
              <% else %>
                <li><%= link_to 'Login as Twitter', '/auth/twitter' %></li>
              <% end %>
            </ul>          

            <div id="navbarleft">
              <ul class="nav navbar-nav">
                <% if logged_in? %>
                  <li>
                    <%= link_to(employees_show_url) do %>
                      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                      Members
                    <% end %>
                  </li>
                  <li>
                    <%= link_to(photo_panel_url) do %>
                      <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                      Upload
                    <% end %>
                  </li>
                  <li>
                    <%= link_to(edit_panel_url) do %>
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                      Edit
                    <% end %>
                  </li>
                  <li class="dropdown">                
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                      <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                      Info 
                      <% if unmarked_activities.size > 0 %>
                        <span class="label label-danger label-as-badge"><%= unmarked_activities.size %></span>
                      <% end %>                      
                      <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">

                      <li>
                        <%= link_to('お知らせをクリア', activities_clearfeeds_url, method: :post) %>
                      </li>

                      <li class="divider"></li>
                      
                      <% if unmarked_activities.size > 0 %>                      
                        <% unmarked_activities.each do |act| %>
                          <div class="dropdownmenu-wrapper">
                            <div class="media">
                              <%= link_to(employee_profile_url(act.employee.id), class: "thumbnail pull-left") do %>
                                <%= image_tag gsub_http_to_https(act.employee.image_url), class: "media-object" %>
                              <% end %>
                              <div class="media-body">
                                <p>
                                  <%= act.feed %>
                                </p>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      <% else %>
                        <li>
                          <%=link_to('(お知らせ) ないです', '#', style: "color: #848484") %>
                        </li>
                      <% end %>                      

                    </ul>
                  </li>
                <% end %>
              </ul>
            </div>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="container">
        <% flash.each do |name, msg| %>
          <% status = ((name == "notice") ? "success" : "danger") %>
          <%= content_tag :div, msg, class: "alert alert-#{status}" %>
        <% end %>
        
        <%= yield %>
      </div>
    </body>
  </html>
<% else %>
  <html>
    <head>
      <title>UprunDesu</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <%= stylesheet_link_tag    "cover", media: "all" %>
      <%= csrf_meta_tags %>
      <style type="text/css">
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
/*css for full size background image*/
  background: url(/images/cover.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  background-color: #060;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
 
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/* cyrillic */
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster'), local('Lobster-Regular'), url(/fonts/c28rH3kclCLEuIsGhOg7evY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster'), local('Lobster-Regular'), url(/fonts/9NqNYV_LP7zlAF8jHr7f1vY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster'), local('Lobster-Regular'), url(/fonts/cycBf3mfbGkh66G5NhszPQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/*
 * Header
 */
.masthead-brand {
  color: #C44741;
  font-family: Lobster;
  font-size: 24px;
  text-shadow: 1px 1px 0px #222222;

  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.95);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}        
      </style>
    </head>
    <body>
      <div class="site-wrapper">
        <div class="site-wrapper-inner">
          <div class="cover-container">
            <div class="masthead clearfix">
              <div class="inner">
                <h3 class="masthead-brand">UprunDesu</h3>
              </div>
            </div>

            <div class="inner cover">
              <h1 class="cover-heading">うpルンですへようこそ</h1>

              <p class="lead">
                upfg構成員のupfg構成員によるupfg構成員のための写真共有サイト
                
                <small>    <br> 諸君　撮るのもいいがちゃんと整理もしよう！</small>
                
              </p>

              <p class="lead"><a class="btn btn-lg btn-info" href="/auth/twitter">Sign in with Twitter</a></p>
            </div>

            <div class="inner">
              <script type="text/javascript">
                (function() {
                var ss = document.createElement('script'); ss.type = 'text/javascript'; ss.async = true;
                ss.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'seal.ssls.com/script.js?cn=' + window.location.host;
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ss, s);
                })();
              </script>
              <!-- Do not alter for the seal to work properly -->
              <div id="sslsSiteSeal">
                seal by <a href="https://ssls.com/">SSLs.com</a>
              </div>
            </div>

            <div class="mastfoot">
              <div class="inner">
                <!-- Validation -->
                <p>© <%= Time.now.strftime("%G") %> <a href="https://twitter.com/upfg">UPFG 電気通信省</a> </p>
              </div>
              <br>
            </div>

          </div>
        </div>
      </div>
    </body>
  </html>
<% end %>
